@charset "UTF-8";
@import "partials/_setting";
@import "partials/_mixin";
@import "partials/_function";
@import "partials/_reset";



:root{ --light-color:white; }

html	{ height:100%; -webkit-text-size-adjust: none;}
body	{ height:100%; margin: 0; padding: 0; text-align:left; font-family:Helvetica,$fontGothic; font-feature-settings: "pkna";
	& > #wrapper { height:auto;}
}
#wrapper { width: 100%; height:100%; min-height:100%; overflow:hidden; margin:0 auto; position:relative;
	a:hover { color: var(--light-color);}
}

@include iphone	{
	#wrapper	{ height:1280px;}
}
@include ipad	{
	#wrapper	{ height:1280px;}
}

p::selection,h1::selection,h2::selection,h3::selection,h4::selection,a::selection,img::selection,em::selection,strong::selection,dd::selection,dt::selection,u::selection,dfn::selection,li::selection{ color:scheme(key); background:#ccc;}
*::-moz-selection { color:scheme(key); background:#ccc;}






/*-------------------------------------------------------------------------------------------------*
WEB-FONT
--------------------------------------------------------------------------------------------------*/
@font-face {
	font-family:'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-twitter:before,
.icon-facebook:before,
.icon-new-window:before,
.icon-mail:before { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased;}

.icon-facebook:before {content: "\e001";}
.icon-new-window:before {content: "\e000";}
.icon-twitter:before {content: "\e002";}
.icon-mail:before {content: "\e003";}




/*-------------------------------------------------------------------------------------------------*
HEADER
--------------------------------------------------------------------------------------------------*/
#header	{ position:relative; z-index:100;}
#header-name { width: 275px; @include top-right(90,100%,1,fixed); transform: translate(302px,0); text-align: right;}
.hd-name { font-size:13px; font-family:'Raleway'; line-height:1.8; letter-spacing:3.5px;
	&__blc { display: block;
		&:last-child { margin-top: 3px;}
	}
}
#headName,
#headName_02,
#headName_03 {
	span { opacity: 0;}
}



#vi	{ width: 275px; display:block; @include top-right(40,100%,10,fixed); transform: translate(302px,0); font-size:29px; font-family:'Raleway'; font-weight:500; line-height:1; letter-spacing:1.5px; transition:linear 1s opacity; opacity: 0; text-align: right;  text-transform: uppercase;

	.viLine	{ display:inline-block; vertical-align:top; margin: 6px 5px 0 5px; font-family:Helvetica,Arial,sans-serif; font-size:15px;
		&:nth-child(2)	{ margin-left:2px;}
	}
	.viO	{ margin:0 0 0 1px; position: relative; font-weight: bold; color:var(--light-color);}
	.viI	{ display: inline-block; position: relative; color:var(--light-color); font-weight: bold;}
	&.is-displayed { opacity: 1; transition:ease-in 1s 0.4s;}
}		

//メインナビ
#mainNav	{ @include top-right(0,0,10); overflow:hidden; @include transition(linear,1s,opacity); display:none;
	li	{ float:left; padding:3px 16px 3px 3px;
		span	{ display:inline-block; margin:0; font-size:8px; color:#ccc; display:none;}
		a	{ display:block; padding:0 9px 2px; color:#000; font-size:10px; font-family:'Raleway'; font-weight:600; line-height:1; letter-spacing:1px; @include transition; background:#d0d0d0; @include radius(2px); text-decoration:none;
			&:hover	{ background:scheme(linkHover); @include box-shadow(0 0 3px scheme(linkHover));}
		}
		&.current	{
			a{ background:#333;
				&:hover	{ @include box-shadow(none);}
			}
		}
		&:last-child { padding-right: 0;}
	}
}



/*-------------------------------------------------------------------------------------------------*
CONTENTS
--------------------------------------------------------------------------------------------------*/
#contents	{ width:100%; min-height:100%; overflow:hidden; position:relative; padding:25% 30px 350px 330px; z-index:10; transition:opacity 1.5s linear; box-sizing: border-box;
	.fadeOut &	{ opacity:0.3;}
}

//セクション
.section {padding: 0; box-sizing: border-box;}

//カラム
.column { width:100%; @include clearfix; position: relative;
	&__hd { margin:0 0 30px; font-family:'Raleway'; font-size:17px; letter-spacing:2px; line-height: 1;
	}
	&__hd__light { animation: light 3s ease-in 0s infinite; color:var(--light-color);}
	& + .column { margin-top: 200px;}
	&--2 {
		& > .column__child { width: 50%; float: left; margin: 0 2.5% 0 0; box-sizing: border-box; //@include smoothing;
			&:last-child { width: 47.5%; margin-right:0;}
		}
	}
}
@keyframes light {
	0% { opacity: 0;}
	50% { opacity: 1;}
	100% { opacity: 0;}
}


//テキスト
#headName,
#headNameSub,
#headNameSub_02{
	span {opacity: 0;}
}
.txtCopy 	{ float:left; font-size:18px; line-height:1.35; letter-spacing:2px; font-weight:600; @include smoothing;
	&.en 	{ font-size: 17px; line-height: 1.5; letter-spacing: 1.5px; word-wrap: break-word;}
}
.txt		{ font-size:14px; line-height:1.8; letter-spacing:2px;
//@include smoothing;
	&.en	{ font-size:13px; line-height:1.6; letter-spacing:1px; word-wrap: break-word;}
}

.start {
	.column__child { border-color: transparent;}
}


#page_01 	{}
#txtCopy_01,
#txtCopy_02,
#txtCopy_01_02,
#txtCopy_02_02,
#txtCopy_03,
#txtCopy_03_02{
		span {opacity: 0; font-weight:bold;}
}

#message	{  margin-bottom:30px;
	.column__child { line-height: 2; transition: 0.5s cubic-bezier(.51, .09, .93, .29);}
	.en { letter-spacing: 2px;}
}
#profile { opacity: 0; transition:opacity 0.5s ease-in;}
#about	{ margin-bottom:40px; opacity: 0; transition:opacity 0.5s 0.5s cubic-bezier(.51, .09, .93, .29);}


/*----------- sketch -----------*/
#sketch  { opacity: 0; transition:opacity 0.5s 1s cubic-bezier(.51, .09, .93, .29);
	.column__hd { position: relative;}
}
.sketch-item {  letter-spacing:3px; font-family:'Raleway'; line-height:1; font-weight:600;
	&__link { width: 180px; display: inline-block; transition:ease-out 0.2s color; color: inherit;}
	&__txt 	{ display: inline-block; margin: 0 0 0 20px; letter-spacing:1.5px; font-weight: normal;}
	&__number { display: inline-block;
		&:after { content:"：";}
	}
	& + & { margin-top: 20px;}
}


/*----------- works -----------*/
#works  { opacity: 0; transition:opacity 0.5s 1s cubic-bezier(.51, .09, .93, .29);
	.column__hd { position: relative;}
}
.works-item { 
	&__hd  { display: inline-block; margin: 0 0 12px; color: inherit; font-weight: bold; letter-spacing: 2px; /*border-bottom: 1px dotted #999;*/ text-decoration: none; transition:ease-out 0.2s color; @include smoothing;
	}
	&__txt { display: block; font-size:13px; line-height:1.6; letter-spacing:1.5px;
		.en	{ font-size:12px; line-height:1.4; letter-spacing:1.5px;}
	}
	& + .works-item { margin-top: 30px;}
}


/*----------- tumblr -----------*/
#tumblr { width: 100%; overflow: hidden; display: flex; flex-wrap: wrap;
	img { display: block; width:auto; height:100%;}
	.is-near-square img { height: 110%;}
	&-container { width: 100%; overflow: hidden; display: flex; flex-wrap: wrap;}
}
.tumblr-item { width: 25%;
	&:nth-child(4n) ~ & { margin-top: 40px;}
	&__img { display: flex; align-content: center; align-items: center; width: 100%; height: 14vw; position: relative; overflow: hidden; border-bottom: 1px solid var(--light-color); background: #222;}
	&__title  { display: block; padding: 10px 10px 0 5px; letter-spacing: 0.5px;
		p{  line-height: 1.4; }
	}
}






/*-------------------------------------------------------------------------------------------------*
FOOTER
--------------------------------------------------------------------------------------------------*/
#footer	{ width:100%; box-sizing: border-box; padding:8px 0 0 330px; margin:0 auto; @include bottom-left(20,0,30); 

	//時間スタイル
	.midNight &	{ background:#000;}	
	#footer-inner	{ position:relative;}
	#link	{ width:$width; padding:0 0 1.5%; overflow:hidden; @include sizing; @include transition(linear,1s,opacity);
		li	{ float:left; position:relative; padding:0 20px 0 20px;
			a	{ color:inherit; font-size:fs(12); letter-spacing:1.5px; @include transition(ease-out,0.2s,color); text-decoration:none; line-height: 1;
				&:hover { color: var(--light-color);}
			}
			span { font-size:13px;}
			&:first-child { padding-left: 0;}
		}
	}
	
	//作品名
	#canvas-work	{ @include bottom-right(0,40,10); margin-bottom: 1.5%; letter-spacing:3px; font-family:'Raleway'; line-height:1; font-size:11px; font-weight:600; color:inherit;
		span	{ font-size:12px;}
	}
	
	
	//暗転時///////////////////////////////////////
	.fadeOut &	{
		#link	{ opacity:0.3;}
	}
}




/*-------------------------------------------------------------------------------------------------*
BACKGROUND
--------------------------------------------------------------------------------------------------*/
#canvas-iframe {display: block; width: 100%; height: 130%; left: 0px; position: fixed; top: 0; overflow: hidden; opacity: 0; border: none; outline: none;}
#background	{ @include wh(100%,auto); overflow:hidden;}
#mask		{ @include wh(100%,100%); @include top-left(0,0,100); background:#000;
	&.is-hide { opacity: 0; visibility: hidden; transition: 1s cubic-bezier(0, .91, 1, 1) opacity,1s linear visibility;}
}
.contents-line { @include wh(98%,98%); box-sizing: border-box; @include top-left(1%,1%,2,fixed); border: 1px solid rgba(255, 255, 255, 0.5);}


@keyframes blackout{
	0% { color:#fff; text-shadow:0 0 10px #fff;}
	100% { color:#000; text-shadow:0 0 0 #000;}
}



/*-------------------------------------------------------------------------------------------------*
SKIN
--------------------------------------------------------------------------------------------------*/
.theme-midNight	{ color:#ddd; background: #000;
	#wrapper {
		background: -ms-linear-gradient(top,  #131313 0%,#000000 80%); /* IE10+ */
		background: linear-gradient(to bottom,  #131313 0%,#000000 80%); /* W3C */
		background-attachment: fixed;
	}

	#contents{
		.profileBox	p	{ border-color: #777;}
	}

	.fadeOut{
		#mainNav	{ opacity:0.2;}
		#contents	{ opacity:0.2;}
		#footer	#link	{ opacity:0.2;}
	}
	
	@keyframes blackout{
		0% { color:#f00; text-shadow:0 0 10px #f00;}
		100% { color:#000; text-shadow:0 0 0 #000;}
	}
}








